.single {
  display: flex;
  width: 100%;

  .singleContainer {
    flex: 6;
  }

  .top {
    padding: 20px;
    display: flex;
    gap: 20px;

    .left {
      flex: 1;
      -webkit-box-shadow: 1px 1px 1px 1px rgba(46, 46, 46, 0.507);
      box-shadow: 2px 1px 4px 1px #72727231;
      padding: 20px;
      position: relative;

      .item {
        display: flex;
        gap: 20px;

        .itemImage {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
        }

        .details {
          .itemTitle {
            margin-bottom: 10px;
            color: grey;
          }

          .detailItem {
            margin-bottom: 10px;
            font-size: 15px;

            .itemKey {
              font-weight: bold;
              color: grey;
              margin-right: 4px;
            }
            .itemValue {
              font-weight: 300;
            }
          }
        }
      }
      .editButton {
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 12px;
        font-size: 14px;
        color: rgb(93, 4, 79);
        background-color: rgba(90, 4, 85, 0.496);
        cursor: pointer;
        border-radius: 10px;
      }
    }
    .right {
      flex: 2;
    }
  }
}

.title {
  font-size: 16px;
  color: grey;
  margin-bottom: 20px;
}
