.navbar {
  height: 50px;
  border-bottom: 0.9px solid rgba(63, 63, 63, 0.271);
  font-size: 18px;
  color: gray;

  .wrapper {
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      border: 0.6px solid grey;
      padding: 2px;
      border-radius: 15px;

      input {
        border: none;
        outline: none;
        background-color: transparent;

        &::placeholder {
          font-size: 13px;
        }
      }
    }
    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 5px;
        position: relative;

        .icon {
          font-size: 20px;
          margin-right: 10px;
        }

        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50%;
        }

        .counter {
          width: 15px;
          height: 15px;
          background-color: rgb(42, 0, 45);
          border-radius: 50%;
          font-size: 13px;
          color: rgba(255, 255, 255, 0.705);
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: -5px;
          top: -5px;
          font-weight: bold;
        }
      }
    }
  }
}
