.new {
  width: 100%;
  display: flex;

  .newContainer {
    flex: 6;
    padding: 10px;
  }

  .top,
  .bottom {
    -webkit-box-shadow: 1px 1px 1px 1px rgba(46, 46, 46, 0.259);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.138);
    padding: 10px;
    display: flex;

    h1 {
      color: rgba(52, 52, 52, 0.591);
    }

    .left {
      flex: 1;
      text-align: center;
      img {
        width: 230px;
        height: 230px;
        border-radius: 50%;
        object-fit: cover;
        border: 1px solid rgba(0, 0, 0, 0.413);
      }
    }
    .right {
      flex: 2;

      form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;

        button {
          width: 140px;
          padding: 10px;
          border: none;
          background-color: rgb(64, 1, 48);
          color: white;
          cursor: pointer;
          font-weight: bold;
          font-size: 1rem;
          border-radius: 7px;
          margin-top: 20px;
        }

        .formInput {
          width: 43%;

          label {
            display: flex;
            align-items: center;
            gap: 10px;

            .icon {
              color: grey;
            }
          }

          input {
            width: 100%;
            padding: 5px;
            border: none;
            border-bottom: 1px solid rgba(128, 128, 128, 0.426);

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}
