.table {
  .cellWrapper {
    display: flex;
    align-items: center;
    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Aprovado {
      color: green;
      background-color: rgba(0, 128, 0, 0.267);
    }

    &.Pendente {
      color: rgb(255, 174, 0);
      background-color: rgba(180, 135, 0, 0.267);
    }
  }
}
